//
// Styling for the footer.
//

footer {
    position: relative;
    width: 85%;
    padding-top: 20px;
    padding-right: 20px;

    #tag-cloud {
        position: absolute;
        left: 0;
    }

    .copyright {
        position: absolute;
        right: 15%;
        bottom: 0;
    }
}
