.hero {
    background: $hero-default-bg-color;
    font-family: Bitter, sans-serif;
    padding: 17px 72px;
    min-height: 200px;
    
    .metadata {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .description {
        font-size: 1rem;
        margin-bottom: 20px;
    }
}
