.hero {
    background: $hero-default-bg-color;
    padding: 17px 72px;
    min-height: 100px;
    margin-top: 85px;
    
    ul.metadata {
        padding-inline-start: 0;

        li {
            display: inline;
            margin-left: 0;

            &::before {
                display: none;
            }
            &:not(:last-child)::after {
                content: '\2022';
                margin-left: 5px;
            }
           
        }
    }
    .description {
        font-size: 1rem;
        margin-bottom: 20px;
    }
}
