//
// Global styling for the scrollbar to make it fancier.
// 
// Tested on Google Chrome and Edge. This does not work
// for Microsoft Edge/IE browsers. It should only work
// in Chrome.
//

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: inherit; 
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: rgba(92,92,92,0.7);
   border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-lightblue; 
}
