// Next and previous posts banner.
.post-navigation {
    position: relative;
    margin-bottom: 20px;
    height: 30px;
    padding: 20px;

    li {
        &::before {
            display: none;
        }
    }

    a {
        @include font-uppercase(16px, $link-color);
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        .prev {
            position: absolute;
            right: 0;
        }
        .next {
            position: absolute;
            left: 0;
        }
    }

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.post-navigation-mobile {
    display: none;

    li {
        position: fixed;
        right: 5%;
        bottom: 5%;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background: $modal-bg-color;
        list-style: none;

        &::before {
            display: none;
        }

        &.prev-item {
            left: 5%;
        }
        &.next-item {
            right: 5%;
        }

        a {
            text-decoration: none;
            padding: 5px 10px;

            &.next-item {
                padding-left: 12px;
            }
        }
    }

    @media screen and (max-width: 800px) {
        display: block;
    }
}
