// Next and previous posts banner.
.post-navigation {
    position: relative;
    margin-bottom: 20px;
    height: 30px;
    padding: 20px;

    li {
        &::before {
            display: none;
        }
    }

    a {
        @include font-uppercase(16px, $link-color);
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        .prev {
            position: absolute;
            right: 0;
        }
        .next {
            position: absolute;
            left: 0;
        }
    }

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.post-navigation-mobile {
    display: none;

    li {
        position: fixed;
        bottom: 5%;
        list-style: none;
        background: $modal-bg-color;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        padding-left: 6.5px;
        padding-top: 5px;
        line-height: 1.45;

        &::before {
            display: none;
        }

        &.prev-item {
            left: 0;

            // The left arrow is odd because for it to look centered,
            // the padding needs to be slightly less than the right side.
            padding-left: 6px;
        }
        &.next-item {
            right: 5%;
        }

        a {
            text-decoration: none;
            color: $color-white;
            border-radius: 16px;
            padding: inherit;

            &:hover,
            &:focus {
                background: transparent;
            }
        }
    }

    @media screen and (max-width: 800px) {
        display: block;
    }
}
