// Next and previous posts banner.
.post-navigation {
    position: relative;
    margin-bottom: 20px;
    height: 30px;
    padding: 20px;

    a {
        @include font-uppercase(16px, $link-color);
        font-weight: lighter;
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        .prev {
            position: absolute;
            right: 0;
        }
        .next {
            position: absolute;
            left: 0;
        }
    }

    @media screen and (max-width: 800px) {
        line-height: 24px;

        .prev {
            margin-bottom: 20px;
        }
    }
}
