.tutorial-information {
    background: $color-midnight;
    color: $color-white;
    border-radius: 8px;
    padding: 5px 20px;

    table {
        background: $color-white;

        .label-col {
            font-weight: bold;
        }

        tr, td {
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
        }

        .row-categories li {
            &::before {
                content: '';
            }
        }
    }
    
}
