@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Nunito&display=swap');

@mixin font-uppercase($font-size: 18px, $font-color: $color-red) {
    color: $font-color;
    text-transform: uppercase;
    font-size: $font-size;
}
@mixin font-orange-normal($font-size: 18px) {
    @include font-orange-uppercase($font-size);
    text-transform: none;
}
