//
// Styling for syntax highlighting on code blocks.
//

.highlight {
    background: $highlight-bg-color;
    border-radius: 8px;
    padding: 10px 20px;
    color: $highlight-text-color;
    overflow-y: auto;
    margin-inline-start: 0;
    margin-inline-end: 0;

    table {
        border: 0;

        .gutter {
            width: 10px;
        }

        tr, td {
            border: 0;
        }
    }

    pre {
        font-family: operator mono ssm a,operator mono ssm b,operator mono,source code pro,Menlo,Consolas,Monaco,monospace;
        color: $color-white;

        code {
            font-size: 16px;

            // Label for the code block.
            &::before {
                color: $color-orange;
                font-family: $font-family-rubik;
                margin-left: -10px;
                text-transform: uppercase;
                display: block;
                padding-bottom: 20px;
                font-weight: 700;
                font-size: 12px;
                content: attr(data-lang);
            }
        }
    }

    *::selection {
        background: $highlight-code-color;
    }
    *::-moz-selection {
        background: $highlight-code-color;
    }

    // Strings
    .dl, .s1 {
        color: $highlight-string-color;
    }

    // var, function, public function
    .kd, .k {
        color: $highlight-keyword-color;
    }

    // Docblock comments.
    .cd {
        color: $highlight-string-color;
    }

    // Single line comments
    .c1 {
        color: $highlight-comments-color;
    }

    // Functions
    .nf {
        color: $highlight-functions-color;
        font-style: italic;
    }

    // New variables.
    .nv {
        color: lightblue;
    }

    // Specific highlighting for yaml.
    .language-yaml {
        .s1, .s {
            color: lightgreen;
        }

        .na, .pi {
            color: orange;
        }
    }

    // Specific highlighting for PHP.
    .language-php {
        // PHP opening tag
        .cp {
            color: $highlight-variables-color;
            font-style: italic;
        }

        // Namespaces
        .kn {
            color: $highlight-keyword-color;
        }
    }
}
