<ul class="post-navigation">
    {% if page.next.url %}
        <li>
            <a class="next" href="{{page.next.url}}">&laquo; {{page.next.title | strip_html | truncatewords: 5 }}</a>
        </li>
    {% endif %}
    {% if page.previous.url %}
        <li>
            <a class="prev" href="{{page.previous.url}}">{{page.previous.title | strip_html | truncatewords: 5 }} &raquo;</a>
        </li>
    {% endif %}
</div>
<ul class="post-navigation-mobile">
    {% if page.next.url %}
        <li class="prev-item">
            <a class="next" href="{{page.next.url}}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if page.previous.url %}
        <li class="next-item">
            <a class="prev" href="{{page.previous.url}}">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
</ul>
