<a
    class="search-link"
    href="#"
    onClick="worker.handleSearchClick()"
>
    <i class="fa fa-search"></i>
</a>
<div class="search-wrap hidden">
    <div class="search-field-wrap">
        <i class="fa fa-search"></i>
            <input
            type="text"
            placeholder="Enter keywords..."
            onkeydown="return worker.handleKeyDown(event);"
            onkeyup="return worker.handleKeyUp(event);"
            oninput="return worker.handleInput(event);"
            autofocus
            ref="search"
        />
    </div>
    <div class="search-results">
        <ul>
            <!-- This will be populated by JS. -->
        </ul>
    </div>
</div>
<script src="/assets/js/search.js"></script>
