<div class="search-wrap hidden">
    <div class="search-field-wrap">
        <input
            type="text"
            placeholder="Enter keywords..."
            onkeydown="return worker.handleKeyDown(event);"
            onkeyup="return worker.handleKeyUp(event);"
            oninput="return worker.handleInput(event);"
            autofocus
            ref="search"
        />
    </div>
    <div class="search-results">
        <ul>
            <!-- This will be manipulated by JS. -->
            <li class="info">Results will show up here as you type.</li>
        </ul>
    </div>
</div>
<script src="/assets/js/search.js"></script>
