.container {
    position: relative;

    @media screen and (min-width: 800px) {
        #content {
            max-width: 80%;
            margin: 100px 10% 0 10%;
            padding: 0 80px;

            img {
                width: 100%;
            }
        }
    }
    
}

.layout-page {
    
    .container {
        #content {
            margin: 120px 0 0 0;
        }
    }

}
