.container {

    @media screen and (min-width: 800px) {
        #content {
            position: relative;
            left: 20%;
            width: 50%;
            top: 70px;

            img {
                width: 100%;
            }
        }
    }
    
}
