.container {
    position: relative;

    @media screen and (max-width: 800px) {
        #content {
            width: 100%;
            margin: 0 20px;
        }
    }

    @media screen and (min-width: 1200px) {
        #content {
            max-width: 80%;
            margin: 100px 10% 0 10%;
            padding: 0 80px;

            img {
                width: 100%;
            }
        }
    }
    
}
