//
// Contains Global Sass variables used for the blog.
//

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$text-color:            #111 !default;

$spacing-unit:          30px !default;

// Generic colors.
$color-white: #fff;
$color-red: #E60A00;
$color-orange: #ff8a00;
$color-midnight: #001628;
$color-blue: rgb(26, 115, 187);
$color-darkblue: rgb(0, 0, 192);
$color-black: #000;
$color-gray: rgb(51, 51, 51);
$color-gray-med: #3b4048;

// Variable colors for the navbar.
$navbar-title-link-color: $color-white;
$navbar-link-color: $color-red;

// Variables for tables.
$table-text-color:      $color-white !default;
$table-zebra-color:     $color-gray-med !default;
$table-header-bg-color: $color-red !default;
$table-header-text-color: $color-black !default;
$table-header-border:   lighten($brand-color, 36%) !default;
$table-border-color:    $color-black !default;
$table-text-align: left !default;
$table-bg-color: $color-gray;

// Syntax highlight colors.
$highlight-code-color: #9c27b0;
$highlight-bg-color: #001628;
$highlight-text-color: #fff;
$highlight-string-color: lightgreen;
$highlight-keyword-color: magenta;
$highlight-comments-color: #d0d0d0;
$highlight-functions-color: cyan;
$highlight-variables-color: lightblue;

// Styling for modals. An example of this is global search.
$modal-bg-color: rgba(0, 0, 0, 0.7);
$modal-input-text-color: $color-white;
$modal-input-text-bg-color: lighten($modal-bg-color, 36%) !default;
$modal-input-border: 0;
$modal-input-focus-border: 0;
$modal-input-placeholder-text-color: lighten($modal-bg-color, 70%) !default;

// Colors for links outside of the navbar.
$link-color: $color-white;
$link-hover-color: $navbar-link-color;

$hero-default-bg-color: $color-gray-med;

// Footer colors.
$footer-bg-color: $highlight-bg-color;

$tag-bg-color: $color-red;

$post-date-text-color: $color-red;

// Font family variables
$font-family-rubik: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
$font-family-roboto: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
