---
layout: default
---
<h3 class="post-index-message">{{ site.custom_config.messages.post_index_message }}</h3>
<div class="post-list">
    {% assign group_date = '' %}
    {% assign post_date = '' %}
    {% for post in site.posts %}
        {% capture post_date %}
            {{ post.date | date: '%B %Y' }}
        {% endcapture %}
        {% if group_date != post_date %}
            <h3>{{ post_date }}</h3>
        {% endif %}
        {% capture group_date %}
            {{ post.date | date: '%B %Y' }}
        {% endcapture %}
        <div class="item">
            <span class="title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </span><hr />{{ post.date | date: '%d' }}th
        </div>
    {% endfor %}
</div>
