---
layout: default
---
<div class="hero hero-tutorials">
    <h2 class="title">{{ page.title }}</h2>
    <div class="description">{{ page.description }}</div>
</div>
<div id="content">
    <h3 class="post-index-message">{{ site.custom_config.messages.post_index_message }}</h3>
    <div class="post-list">
        {% assign tutorials = site.posts | where: 'layout', 'tutorial' %}
        {% for post in tutorials %}
            {% include post_archive_item.html %}
        {% endfor %}
    </div>
</div>
