---
layout: default
---
{% include post_navigation.html %}
<h2>{{ page.title }}</h2>
<p class="post-date-wrap">
    Posted on <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
</p>

<div class="tutorial-information">
    <h3>About this Tutorial</h3>

    <table>
        <tbody>
            {% if page.description %}
                <tr class="row-description">
                    <td><strong>Description:</strong></td>
                    <td>
                        <span>{{ page.description }}</span>
                    </td>
                </tr>
            {% endif %}
            {% if page.categories %}
                <tr class="row-categories">
                    <td><strong>Categories:</strong></td>
                    <td>
                        <ul>
                            {% for category in page.categories %}
                                <li>{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr class="row-prerequisites">
                <td><strong>Prerequisites:</strong></td>
                <td>
                    {% if page.prerequisites %}
                        <ul>
                            {% for prerequisite in page.prerequisites %}
                                <li><a href="{{ prerequisite.url }}">{{ prerequisite.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>None</strong>
                    {% endif %}
                </td>
            </tr>
            {% if page.tools_used %}
            <tr class="row-tools-used">
                <td><strong>Tools Used:</strong></td>
                <td>
                    <ul>
                        {% for tool in page.tools_used %}
                            <li><a href="{{ prerequisite.url }}">{{ tool.title }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{{ content }}
