 //
 // Styling for the search pop-up.
 //
 .search-wrap {
    position: fixed;
    // display: none;
    width: 50%;
    height: 400px;
    overflow: auto;
    left: 20%;
    top: 30%;
    background: $modal-bg-color;
    border-radius: 8px;

    &.show {
        display: block;
    }

    .search-title {
        margin-left: 20px;
    }

    input[type="text"] {
        position: absolute;
        background: $modal-input-text-bg-color;
        color: $modal-input-text-color;
        top: 10%;
        border: $modal-input-border;
        position: absolute;
        margin: 2%;

        &::placeholder {
            color: $modal-input-placeholder-text-color;
        }

        &:focus {
            border: $modal-input-focus-border;
            outline: none;
        }
    }

    .search-results {
        position: absolute;
        top: 120px;
        left: 5%;
        width: 90%;

        ul {
            padding-inline-start: 0;

            .search-result {
                &::before {
                    content: '';
                }

                padding: 20px;
                border-bottom: 1px solid #fff;
                width: inherit;

                &:focus {
                    background: $color-red;
                }

                a {
                    color: $color-white;
                    text-transform: none;
                    padding: inherit;
                    width: 100%;
                }
            }
        }

        
    }
   
}
