 //
 // Styling for the search pop-up.
 //
 .search-wrap {
    position: fixed;
    // display: none;
    width: 50%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 20%;
    top: 30%;
    background: $modal-bg-color;
    border-radius: 8px;

    &.show {
        display: block;
    }

    .search-title {
        margin-left: 20px;
    }

    input[type="text"] {
        position: absolute;
        background: $modal-input-text-bg-color;
        color: $modal-input-text-color;
        top: 10%;
        border: $modal-input-border;
        position: absolute;
        margin: 2%;

        &::placeholder {
            color: $modal-input-placeholder-text-color;
        }

        &:focus {
            border: $modal-input-focus-border;
            outline: none;
        }
    }

    .search-results {
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;

        h3 {
            margin-left: 20px;
        }

        ul {
            padding-inline-start: 0;

            .search-result {
                position: relative;

                &::before {
                    content: '';
                }

                border-bottom: 1px solid #fff;
                width: inherit;
                height: 75px;
                padding-top: 10px;

                a {
                    position: absolute;
                    top: 0;
                    color: $color-white;
                    display: block;
                    text-transform: none;
                    padding: inherit;
                    padding-left: 20px;
                    width: 100%;
                    height: inherit;

                    &.selected,
                    &:focus,
                    &:hover {
                        background: $color-red;
                        height: inherit;
                    }
                }
            }
        }

        
    }
   
}
