//
// Styling for the header, which includes the navbar.
//

.masthead {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    color: #fff;
    top: 0;
    left: 0;
    padding-left: 40px;
    width: 100%;
    z-index: 100;

    a {
        color: #fff;
    }

    .main-menu-list {
        position: absolute;
        bottom: 0;
        right: 20%;

        > li {
            display: inline;
            margin-right: 20px;

            &::before {
                content: '';
            }

            a {
                @include font-uppercase();

                &.search-link {
                    color: $color-white;
                }
            }

            // Styling for the search pop-up.
            .search-wrap {
                position: fixed;
                display: none;
                width: 50%;
                min-height: 400px;
                left: 20%;
                top: 150px;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 8px;

                &.show {
                    display: block;
                }

                .search-title {
                    margin-left: 20px;
                }

                input[type="text"] {
                    position: absolute;
                    top: 65px;
                }

                .search-results {
                    position: absolute;
                    top: 120px;
                    left: 5%;
                    height: 200px;
                    width: 90%;

                     .search-result {
                        padding: 20px;
                        border-bottom: 1px solid #fff;
                        width: inherit;
                    }
                }
               
            }

            
        }
    }
    
}
